{%- comment -%}
  Renders a product card.
  Accepts: product (product object)
{%- endcomment -%}

<div class="product-card">
  <a href="{{ product.url }}" class="product-card__image">
    {%- if product.featured_image -%}
      {{ product.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', alt: product.featured_image.alt | escape }}
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </a>
</div>
