<div class="section">
  <div class="container" style="max-width: 400px;">
    <h1 class="section__heading">{{ 'customer.reset_password' | t }}</h1>

    {%- form 'reset_customer_password' -%}
      {{ form.errors | default_errors }}

      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" id="password" name="customer[password]" autocomplete="new-password" required>
      </div>

      <div class="form-group">
        <label for="password-confirm">Confirm new password</label>
        <input type="password" id="password-confirm" name="customer[password_confirmation]" autocomplete="new-password" required>
      </div>

      <button type="submit" class="btn btn--primary" style="width: 100%;">{{ 'customer.reset_password' | t }}</button>
    {%- endform -%}
  </div>
</div>
