<section class="hero">
  <div class="hero__star-bg">
    <img src="{{ 'staroutline.svg' | asset_url }}" alt="" class="hero__star-img" loading="eager">
  </div>
</section>

{% schema %}
{
  "name": "Hero background",
  "settings": [],
  "presets": [
    {
      "name": "Hero background"
    }
  ]
}
{% endschema %}
